html {height:100%;}
body {height:100%; margin-top:100px; font-family:"livory", georgia, serif; font-weight:400; text-align:center; background-color:#fbf5f4; background-image:-webkit-radial-gradient(center center, 50% 50%, rgba(251,245,244,1), rgba(255,255,255,1));}
a {color:#c29751;}
a:hover {color:#c29751;}
h1 {padding:10px 0; font-size:90px; line-height:100px; font-style:italic; font-weight:100; color:#583130;}
h2 {font-size:20px; text-transform:uppercase; color:#6d3d33; font-weight:100; letter-spacing:1px;}
h3 {font-size:12px; text-transform:uppercase; color:#6d3d33; font-weight:100; letter-spacing:1px;}
#sunrise {position:relative; -webkit-animation: slidein 2s; -moz-animation: slidein 2s;}

@-webkit-keyframes slidein {
  0% {bottom:-10px; opacity:0;}
  50% {bottom:-10px; opacity:0;}
  100% {bottom:0; opacity:1;}
}

@-moz-keyframes slidein {
  0% {bottom:-10px; opacity:0;}
  50% {bottom:-10px; opacity:0;}
  100% {bottom:0; opacity:1;}
}

@media (min-width: 768px) and (max-width: 979px) { 

}

@media (max-width: 767px) { 

}

@media (max-width: 480px) {

}